@import "@fontsource-variable/montserrat";
@import "@fontsource/roboto";
@import "tailwindcss";

@theme {
    /*Fonts*/
  --font-header: "Roboto", sans-serif;
  --font-body: "Montserrat", sans-serif;

    /*colours*/
  --color-background: #0d0f14;
  --color-cards: #000000;
  --color-field: #b4c4cf;
  --color-input: #808080;
  --color-foreground: #201f72;
  --color-border: #555555;
  --color-error: #b91c1c;
  --color-clarity-blue: #0094fe;
  --color-clarity-blue-deep: #0059cf;
  --color-clarity-blue-darkest: #01438e;
  --color-titles: #e1f2f5;
  --color-inactive: #4f5557;
  --color-hints: #b9b2b2;
}

@layer base {
  html {
    color-scheme: dark;
  }
  body {
    min-height: 100vh;
    background-image: radial-gradient(ellipse at top, rgb(0 148 254 / 0.12), transparent 60%);
    background-attachment: fixed;
    background-color: var(--color-background);
    font-family: var(--font-body);
    color: var(--color-titles);
  }
}




