@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&family=Trykker&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Condensed+One&family=Trykker&display=swap" rel="stylesheet');
@import "tailwindcss";

@theme {
    /*Fonts*/
  --font-header: "Roboto", sans-serif;
  --font-body: "Montserrat", sans-serif;

    /*colours*/
  --color-background: #0d0f14;
  --color-cards: #000000;
  --color-field: #b4c4cf;
  --color-input: #808080;
  --color-foreground: #201f72;
  --color-border: #555555;
  --color-error: #b91c1c;
  --color-clarity-blue: #0094fe;
  --color-clarity-blue-deep: #0059cf;
  --color-clarity-blue-darkest: #01438e;
  --color-titles: #e1f2f5;
  --color-inactive: #4f5557;
  --color-hints: #b9b2b2;
}

@layer base {
  html {
    color-scheme: dark;
  }
  body {
    min-height: 100vh;
    background-color: var(--color-background);
    background-image: radial-gradient(ellipse at top, rgb(0 148 254 / 0.12), transparent 60%);
    background-attachment: fixed;
    *, ::before, ::after { border-color: var(--color-background); }
    background-color: var(--color-background);
    font-family: var(--font-body);
    color: var(--color-foreground);
  }
}




